@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.global-width {
  padding-left: 30px;
}

.bold {
  font-weight: bold;
}

.grey {
  color: #918e9b;
}
